@import url(https://fonts.googleapis.com/css?family=Roboto:500);

:root {
  --debug-border-width: 0px; /* Set to 0px to hide borders */
}

.App {
  border: red solid var(--debug-border-width);
  margin: 10px;
  font-variant: small-caps;
  text-align: center;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.meet-logo{
  border: orange solid var(--debug-border-width);
  max-width: 400px;
  height:auto;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 275px;
  z-index: 1000;
 }

#search-boxes{
  border: purple solid var(--debug-border-width);
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  text-align:center;
  height: 38px;
  margin-bottom: 20px;

  font-variant:inherit;
  color:inherit;
}

.city {
  width: 250px;
}

.text-align-center{
  text-align: center;
}

#city-search {
  display: flex;
  flex-direction: column;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;

  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#event-list{
  border: blue solid var(--debug-border-width);
  display: flex;
  flex-direction: column;
  justify-self:center;
  justify-content: center;
}

.event {
  padding: 10px 10px 10px;
  margin-bottom:5px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  justify-self:center;
  width:fit-content;
  min-width:450px;
}

.event-summary {
  font-variant:small-caps;
  font-weight:500;
  font-size:110%;
}

.button-container {
  border: magenta solid var(--debug-border-width);
  display: flex;
  justify-content: center;
}

.details-btn {
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  
  font-variant:small-caps;
}

.details-btn:hover {
  font-size:105%;
  border-color:#FFF;
  border-width: 2px;
}

.details-btn:active {
  border-color:rgb(89,71,99);
}

@media (max-width: 450px) {
  .meet-logo {
    width: 300px;
    height: auto;
  }

  .event {
    min-width: 300px;
    width: 300px;
    padding: 5px;
  }
}